.page-info {
  .nut-tabs {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .nut-tabs__titles {
    background: #fff;
    .nut-tabs__titles-item.active {
      color: #026dff;
      .nut-tabs__titles-item__line {
        background: #026dff;
      }
    }
  }
  .nut-tabs__content {
    flex: 1;
  }
  .table {
    flex: 1;
    display: flex;
    background: #fff;
    border-bottom: 0;
    .table_left_column {
      width: 90px;
      height: auto;
      display: flex;
      flex-direction: column;
    }
    .left_col_item {
      width: 90px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      display: block;
      white-space: nowrap;
      text-overflow:ellipsis;
    }
    .table_right_scroll_box {
      white-space: nowrap;
      overflow-x: scroll;
      font-weight: normal;
    }
    .table_tr_item {
      display: flex;
      flex-direction: row;
    }
    .tr_td {
      flex: 0 0 100px;
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow:ellipsis;
    }
  }
  .nut-tabpane {
    padding: 0 30rpx;
    display: flex;
    flex-direction: column;
  }
  .nut-checkbox {
    height: 30px;
    font-size: 14px;
  }
  .nut-searchbar {
    padding: 9px 0;
  }
  .nut-icon-search2 {
    color: #BFBFBF;
  }
  .search-wrapper {
    flex: 0 0 50px;
    .nut-searchbar__search-input {
      background: #F8F8F8;
    }
  }
  .nut-searchbar__right-search-icon {
    color: #026DFF;
  }
  .bottom-wrapper {
    flex: 0 0 30px;
    .btn-add {
      width: 72px;
      height: 26px;
      background: #026DFF;
      color: #fff;
      border: none;
      font-size: 14px;
    }
  }
}
